@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");

.home-container {
  display: grid;
  justify-content: center;
}

.home-container h2 {
  margin-top: 20px;
  text-align: center;
}

.home-heading {
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  font-family: "Carter One", cursive;
}
